spring:
  application:
    name: test-auth-server

server:
  port: 9001
  servlet:
    session:
      cookie:
        name: TEST_AUTH_SERVER_SESSION
        secure: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    org.springframework: DEBUG
    org.springframework.security: TRACE
    org.springframework.web.cors: DEBUG
